[Unit]
Description=IPv6-Resolved IPv4 Gateway daemon
Documentation=https://datatracker.ietf.org/doc/draft-vanmook-intarea-ipv6-resolved-gateway/
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/v4gwd.py
Restart=on-failure
RestartSec=5
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
